* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Poppins', sans-serif, Helvetica;
}
.wrapper {

	width: 1200px;
	margin: auto;
	align-items: center;
}
header,html{
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("images/background.jpeg");
	height: 100vh;
  background-size: cover;
	background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
	position: relative;
}
.nav-area {
	float: right;
	list-style: none;
	margin-top: 30px;
}
.nav-area li {
	display: inline-block;
}
.nav-area li a {
	color: #fff;
	text-decoration: none;
	padding: 5px 20px;
	font-family: "poppins";
	font-size: 16px;
	text-transform: uppercase;
}
.nav-area li a:hover {
	background: #fff;
	color: #333;
}
.nav-area a.current {
text-decoration: underline;
text-decoration-color: #68B5C6;
}
.welcome-text {
	position: absolute;
	width: 600px;
	height: 300px;
	margin: 10% 30%;
	text-align: center;
}
.welcome-text h1 {
	text-align: center;
	color: #F8F7F2;
	text-transform: uppercase;
	font-size: 60px;
}
.welcome-text h1 span {
	color: #68B5C6;
}

.welcome-text a:hover {
	background: #fff;
	color: #333;
}
.welcome-text a {
	border: 1px solid #fff;
	padding: 10px 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 20px;
	display: inline-block;
	color: #fff;
}
.logo {
	float: left;
}
.logo img {
	display: inline-block;
	position: absolute;
	width: 35px;
	height: 35px;
	top: 3%;
  right: 95%;
  align-items: center;

}

.insta{
	display: inline-block;
	position: absolute;
  top: 3.5%;
  left: 95%;
align-items: center;
}

.insta img{
border: 0;
width: 35px;
height: 35px;
}

.video{
	position: absolute;
	text-align: center;
	margin: 20% 33%;

}
.video video{
	width: 500px;
}
.Message {
	position: absolute;
	width: 600px;
	height: 300px;
	margin: 60% 38%;
	text-align: center;
}
.Message a:hover {
	background: #fff;
	color: #333;
}
.Message a {
	border: 1px solid #fff;
	padding: 10px 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 20px;
	display: inline-block;
	color: #fff;
}

.welcome-text-order {
	position: absolute;
	width: 600px;
	height: 300px;
	margin: 60% 18%;
	text-align: center;
}
.welcome-text-order a:hover {
	background: #fff;
	color: #333;
}
.welcome-text-order a {
	border: 1px solid #fff;
	padding: 10px 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 20px;
	display: inline-block;
	color: #fff;
}

/*resposive*/
@media screen and (max-width:1000px) {
	.wrapper {
		width: 100%;
	}

	.nav-area {
		float: none;
		margin-top: 0;
	}

	.logo{
		position: absolute;
		width: 30px;
		height: auto;
		margin: 3% 10%;
	}
.insta{
	position: absolute;
	width: 30px;
	height: auto;
	margin: 1% -3% ;
}
	.nav-area li a {
		padding: 5px;
		font-size: 11px;
	}
	.nav-area {
		text-align: center;
	}
	.welcome-text {
		width: 100%;
		height: auto;
		margin: 30% 0;
	}
	.welcome-text h1 {
		font-size: 30px;
	}
.video{
	width: 60%;
	margin: 40% 2%;
}
.video video{
	width: 400px;
}
.Message {
	position: absolute;
	width: 400px;
	margin: 150% -27%;
}
.welcome-text-order{
	position: absolute;
	width: 200px;
	margin: 150% 40%;
}


}
