* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Poppins', sans-serif, Helvetica;
}
.wrapper {

	width: 1200px;
	margin: auto;
	align-items: center;
}
header,html{
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("images/background.jpeg");
	height: 100vh;
  background-size: cover;
	background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
	position: relative;
}
.nav-area {
	float: right;
	list-style: none;
	margin-top: 30px;
}
.nav-area li {
	display: inline-block;
}
.nav-area li a {
	color: #fff;
	text-decoration: none;
	padding: 5px 20px;
	font-family: "poppins";
	font-size: 16px;
	text-transform: uppercase;
}
.nav-area li a:hover {
	background: #fff;
	color: #333;
}
.nav-area a.current {
text-decoration: underline;
text-decoration-color: #68B5C6;
}
.welcome-text {
	position: absolute;
	width: 600px;
	height: 300px;
	margin: 10% 30%;
	text-align: center;
}
.welcome-text h1 {
	text-align: center;
	color: #F8F7F2;
	text-transform: uppercase;
	font-size: 60px;
}
.welcome-text h1 span {
	color: #68B5C6;
}

.welcome-text a:hover {
	background: #fff;
	color: #333;
}
.welcome-text a {
	border: 1px solid #fff;
	padding: 10px 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 20px;
	display: inline-block;
	color: #fff;
}
.logo {
	float: left;
}
.logo img {
	display: inline-block;
	position: absolute;
	width: 35px;
	height: 35px;
	top: 3%;
  right: 95%;
  align-items: center;

}

.insta{
	display: inline-block;
	position: absolute;
  top: 3.5%;
  left: 95%;
align-items: center;
}

.insta img{
border: 0;
width: 35px;
height: 35px;
}
/* Some left and right padding inside the container */
.container {
  padding: 0 16px;
}

.title {
  color: grey;
}

.contactUS{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins';
}

.container{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}

.orderTable{
	position: absolute;
	align-items:center;
	margin: 17% 40%;
	vertical-align: bottom;
}


.orderTable h3{
  text-align: center;
	color: #fff;
	font-family: 'Poppins';
}

.orderBox{
	position: relative;
	width: 100%;
	margin-top: 10px;
	background: transparent;
}
.orderBox input{
 float: right;
}
.Order{
	position: relative;
	min-height: 100vh;
	padding: 50px 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transform: translate(-20px,20px);
  left: 23%;
  top: 55%;
}
.OrderForm{
	width: 100%;
	padding: 60px;
	background: #F8F7F2;
}

.OrderForm h2 {
	padding-top: 5px;
	padding-bottom: 2px;
	text-align: left;
	font-size: 20px;
	color: #68B5C6;
	font-weight: 500;
}

.OrderForm .inputBox{
	position: relative;
	width: 100%;
	margin-top: 5px;
	background: transparent;
}

.OrderForm .inputBox input,textarea{
	width: 100%;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	border: none;
	border-bottom: 2px solid #622E21;
	outline: none;
	resize: none;

}

.OrderForm .inputBox span{
	position: absolute;
	left: 0;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	pointer-events: none;
	transition: 0.5s;
	color: #666;
}

.OrderForm .inputBox input:focus ~ span,
.OrderForm .inputBox input:valid ~ span,
.OrderForm .inputBox textarea:focus ~ span,
.OrderForm .inputBox textarea:valid ~ span{
	color: #E91E63;
	font-size: 12px;
	transform: translateY(-20px);
}
.OrderForm .inputBox input[type="submit"]{
	width: 100px;
	background: #68B5C6;
	color: #F8F7F2;
	border: none;
	cursor: pointer;
	padding: 10px;
	font-size: 18px;
}


/*resposive*/
@media screen and (max-width:1000px) {
	.wrapper {
		width: 100%;
	}

	.nav-area {
		float: none;
		margin-top: 0;
	}

	.logo{
		position: absolute;
		width: 30px;
		height: auto;
		margin: 3% 10%;
	}
.insta{
	position: absolute;
	width: 30px;
	height: auto;
	margin: 1% -3% ;
}
	.nav-area li a {
		padding: 5px;
		font-size: 11px;
	}
	.nav-area {
		text-align: center;
	}
	.welcome-text {
		width: 100%;
		height: auto;
		margin: 30% 0;
	}
	.welcome-text h1 {
		font-size: 30px;
	}

.container{
	flex-direction: column;
}

.container .contactUS{
	margin-bottom: 40px;
}

.orderTable{
	position: absolute;
	align-items:center;
	margin: 40% 15%;
}
.Order{
	position: absolute;
	margin: -10% -45%;
}

}
